In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import seaborn as sns
from sklearn import metrics
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score
import statistics

In [4]:
data = pd.read_csv("week2.csv")
data.reset_index(inplace=True)
data.columns = ['X1', 'X2', 'y']
data.head()

     X1    X2  y
0  0.53 -0.01 -1
1 -0.61  0.81 -1
2 -0.51  0.62  1
3 -0.14  0.28  1
4 -0.52 -0.21 -1

In [5]:
df = data.copy()
df.head()

     X1    X2  y
0  0.53 -0.01 -1
1 -0.61  0.81 -1
2 -0.51  0.62  1
3 -0.14  0.28  1
4 -0.52 -0.21 -1

In [6]:
X1=df.iloc[:,0]
X2=df.iloc[:,1]
X=np.column_stack((X1,X2))
y=df.iloc[:,2]

In [4]:
plt.scatter(X1[y==1], X2[y==1], c='g', marker = '+', label='1')
plt.scatter(X1[y==-1], X2[y==-1], c='b', marker = 'o', label='-1', s=10)
plt.xlabel('x_1')
plt.ylabel('x_2')
# plt.show()
plt.savefig('Figure_1.png')

NameError: name 'plt' is not defined